.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
}

footer {
    text-align: center;
}

.large-Modal .modal-dialog
{
  width:1200px;
  height: 800px;
  top:100px; bottom: 0; left: 0; right: 0;
  margin: auto
}

.spinner {
  float: right;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.isa_info, .isa_success, .isa_warning, .isa_error {
    float: right;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    font-size:2em;
}


.component-options-button {
    vertical-align: center;
    margin-top: -5px;
    margin-right: 10px;
    float: right;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.changes_detected{
     background:yellow !important;
     display: block;
     color: inherit;
     padding: 5px;
}

.no_changes_detected{
    background:LightGreen !important;
    display: block;
    color: inherit;
    padding: 5px;
}

.incompatible{
    background: #CD5C5C !important;
    display: block;
    color: inherit;
    padding: 5px;
    color: white;
}

hr
{
    padding: 0px;
    margin: 0px;
    display: block;
    border-bottom: 1px solid black;
}

/* .roundedTwo */
.roundedTwo {
  float: right;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 20px auto;

  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .roundedTwo */

.component-title{
    margin-left: 15px;
}

.no-digitalIds-label{
    font-style: italic;
}