<div ng-controller="CompareCtrl">

    <h1>Compare Digital IDs</h1>

    <div class="jumbotron" style="margin-top: 20px">
        <p class="pull-left">Existing Digital IDs</p>

        <br><br><br>

        <ul ng-repeat="digitalId in digitalIds">
            <input
                    type="checkbox"
                    name="{{digitalId}}"
                    value="{{digitalId}}"
                    ng-click="toggleSelection(digitalId)"
                    ng-checked="selection.indexOf(digitalId) > -1">{{digitalId}}<br><br><br>
        </ul>

        <button class="btn btn-success" id="btn_compare" ng-click="goCompare()">Go</button>
    </div>

    <div ng-show="generationInProgress" class="center-div">
        <h1>Diff generation in progress</h1>

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <div dynamic="htmlString"></div>
</div>