<div ng-controller="CompareCtrl">

    <h1>Compare Digital IDs</h1>

    <div class="jumbotron" style="margin-top: 20px">
        <p class="pull-left" ng-show="digitalIds.length > 0">Select two Digital IDs from the list below:</p>

        <label ng-show="digitalIds.length == 0" class="no-digitalIds-label">There are currently no Digital IDs present on this server</label>
        <label style="float: right; margin-right: 15px;" ng-show="digitalIds.length > 0">Select</label>
        <br><br>
        <accordion ng-show="digitalIds.length > 0">
            <accordion-group ng-repeat="digitalId in digitalIds"  heading="{{digitalId.fileName}}">

                <accordion-heading>

                    <input
                            type="checkbox"
                            name="{{digitalId}}"
                            value="{{digitalId}}"
                            ng-click="toggleSelection(digitalId, $event)"
                            ng-checked="selection.indexOf(digitalId) > -1"
                            class="roundedTwo">

                    <a ng-click="downloadDigitalId(digitalId)">
                        {{digitalId.displayName}}
                    </a>
                </accordion-heading>

                <label>Created on: {{digitalId.creationTime}}</label>
                <br>
                <label>Author: {{digitalId.author}}</label>
                <br>
                <label>Size: {{digitalId.size}} KB</label>

            </accordion-group>


        </accordion>

        <button class="btn btn-success" id="btn_compare" ng-click="goCompare()" ng-disabled="selection.length != 2" ng-show="digitalIds.length >= 2">Compare</button>
    </div>
    <br>
    <hr>
    <br>
    <div ng-show="generationInProgress" class="center-div">
        <h1>Diff generation in progress</h1>
        <br>
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <div dynamic="htmlString"></div>
</div>