<div ng-controller="CompareCtrl">

    <h3>Available Digital IDs</h3>

    <button class="btn btn-success compare-button" id="btn_compare" ng-click="goCompare()" ng-disabled="selection.length == 2" ng-show="comparePossible">Compare</button>

    <div class="row">

        <label ng-show="digitalIds.length == 0"
               class="no-digitalIds-label">There are currently no Digital IDs present on this server</label>

        <div class="col-md-6 digitalid-list">
            <div ng-repeat="digitalId in digitalIds">

                <div class="btn btn-info btn-draggable"
                     data-drag="true"
                     jqyoui-draggable="{onStop:'stopCallback(digitalId)'}"
                     data-jqyoui-options="{revert: 'invalid'}"
                     ng-model="digitalId"
                     ng-show="digitalId !== undefined"
                     ng-click="loadDigitalIdInformation(digitalId)">

                    {{digitalId.displayName}}

                </div>
                <br>
            </div>
            <br>
        </div>

        <div class="col-md-6">

            <label ng-show="clickedDigitalId !== undefined">Created on: {{clickedDigitalId.creationTime}}</label>
            <br>
            <label ng-show="clickedDigitalId !== undefined">Author: {{clickedDigitalId.author}}</label>
            <br>
            <label ng-show="clickedDigitalId !== undefined">Size: {{clickedDigitalId.size}} KB</label>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6 before_digitalid">

                <h3>Before</h3>

                <div class="drag-item-box"
                     ng-model="digitalid_before"
                     data-drop="true"
                     jqyoui-droppable="{onDrop:'dropBeforeCallback(digitalid_before)'}">

                    <label class="drag-item-label" ng-show="digitalid_before === undefined">Drag an item anywhere into this box. Preview will be loaded automatically.</label>

                    <div class="col-md-6 digitalid-name-box" ng-show="digitalid_before !== undefined">
                        <div class="btn btn-info btn-draggable"
                             ng-model="digitalid_before"
                             ng-show="digitalid_before !== undefined">

                            {{digitalid_before.displayName}}
                        </div>
                    </div>

                    <div class="col-md-6 digitalid-info-box" ng-show="digitalid_before !== undefined" class="digitalid-info-box">

                        <label>Created on: {{digitalid_before.creationTime}}</label>
                        <br>
                        <label>Author: {{digitalid_before.author}}</label>
                        <br>
                        <label>Size: {{digitalid_before.size}} KB</label>

                    </div>
                </div>

                <h4>Preview</h4>

                <div class="preview-box">

                    <label class="preview-label" ng-show="digitalid_before_array.length === 0">No data loaded.</label>

                    <accordion ng-show="digitalid_before_array !== undefined">

                        <accordion-group ng-repeat="contentDto in digitalid_before_array"
                                         heading="{{contentDto.displayString}}"
                                         ng-model="content">

                            <accordion-heading>

                                <input
                                        type="checkbox"
                                        name="{{contentDto}}"
                                        value="{{contentDto}}"
                                        ng-click="modifySelection(contentDto, $event, true)"
                                        ng-checked="selection.indexOf(contentDto) > -1"
                                        class="roundedTwo">

                                {{contentDto.displayString}}

                            </accordion-heading>

                            <pre>{{contentDto.content}}</pre>
                        </accordion-group>

                    </accordion>

                </div>
        </div>

        <div class="col-md-6 after_digitalid">

            <h3>After</h3>

            <div class="drag-item-box"
                 ng-model="digitalid_after"
                 data-drop="true"
                 jqyoui-droppable="{onDrop:'dropAfterCallback(digitalid_after)'}">

                <label class="drag-item-label" ng-show="digitalid_after === undefined">Drag an item anywhere into this box. Preview will be loaded automatically.</label>

                <div class="col-md-6 digitalid-name-box" ng-show="digitalid_after !== undefined">
                    <div class="btn btn-info btn-draggable"
                         ng-model="digitalid_after"
                         ng-show="digitalid_after !== undefined">

                        {{digitalid_after.displayName}}
                    </div>
                </div>

                <div class="col-md-6 digitalid-info-box" ng-show="digitalid_after !== undefined" class="digitalid-info-box">

                    <label>Created on: {{digitalid_after.creationTime}}</label>
                    <br>
                    <label>Author: {{digitalid_after.author}}</label>
                    <br>
                    <label>Size: {{digitalid_after.size}} KB</label>

                </div>
            </div>

            <h4>Preview</h4>

            <div class="preview-box">

                <label class="preview-label" ng-show="digitalid_after_array.length === 0">No data loaded.</label>

                <accordion ng-show="digitalid_after_array !== undefined">

                    <accordion-group ng-repeat="contentDto in digitalid_after_array"
                                     heading="{{contentDto.displayString}}"
                                     ng-model="content">

                        <accordion-heading>

                            <input
                                    type="checkbox"
                                    name="{{contentDto}}"
                                    value="{{contentDto}}"
                                    ng-click="modifySelection(contentDto, $event, false)"
                                    ng-checked="selection.indexOf(contentDto) > -1"
                                    class="roundedTwo">

                            {{contentDto.displayString}}

                        </accordion-heading>

                        <pre>{{contentDto.content}}</pre>
                    </accordion-group>

                </accordion>

            </div>
        </div>



        <div ng-show="generationInProgress">
            <h1>Diff generation in progress</h1>
            <br>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>