<div ng-controller="IndexCtrl as uc">
    <div class="jumbotron">
        <h2>Digital ID Manager</h2>
        <p class="pull-right">SAN environment snapshot & comparison tool.</p>
     </div>

    <div class="center-div">
        <a ng-href="/#/digitalid/create" class="btn btn-primary center-button" id="btn_user_create">Create new Digital ID</a>
        <a ng-href="/#/digitalid/compare" class="btn btn-primary center-button" id="btn_digital_id_compare">Compare Digital ID's</a>
    </div>

    <div class="jumbotron" style="margin-top: 20px">

        <p class="pull-left">Existing Digital IDs</p>

        <br>
        <br>
        <br>

        <accordion ng-show="digitalIds.length > 0">
            <accordion-group ng-repeat="digitalId in digitalIds"  heading="{{digitalId.fileName}}">

                <accordion-heading>
                    <div ng-click="downloadDigitalId(digitalId)">
                        {{digitalId.displayName}}
                    </div>
                </accordion-heading>

                <label>Created on: {{digitalId.creationTime}}</label>
                <br>
                <label>Author: {{digitalId.author}}</label>
                <br>
                <label>Size: {{digitalId.size}} KB</label>

                <a href="/digitalid/download/{{digitalId.url}}" target="_blank"
                   class="btn btn-success component-options-button" ng-click="cancelEvent($event)">download as xml</a>

            </accordion-group>
        </accordion>

        <label ng-show="digitalIds.length == 0" class="no-digitalIds-label">There are currently no Digital IDs present on this server</label>
    </div>


</div>
