<div ng-controller="UserCtrl as uc">
    <div class="jumbotron">
        <h2>Digital ID Manager</h2>
        <p class="pull-right">... a UI created using AngularJS and Bootstrap</p>
     </div>

    <div class="center-div">
        <a ng-href="/#/digitalid/create" class="btn btn-primary center-button" id="btn_user_create">Create new Digital ID</a>
        <a ng-href="/#/digitalid/create" class="btn btn-primary center-button" id="btn_digital_id_compare">Compare Digital ID's</a>
    </div>
</div>
