<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Digital ID Manager</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("lib/jsdifflib/diffview.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/progress_window.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/spinner.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/compare.css")'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Digital ID Manager</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="col-sm-12" ng-view></div>

</div>
<footer style="margin-top: 50px;">
    <hr/>
    <div>
        <span>&copy; Digital ID Manager</span>
        </div>
    <div>
        <span app-version></span>
    </div>
</footer>

</body>
<script src='@routes.Assets.at("lib/jquery/jquery.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angularjs/angular.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angularjs/angular-route.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/jsdifflib/diffview.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/jsdifflib/difflib.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/jquery-ui/jquery-ui.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angular-dragdrop/src/angular-dragdrop.min.js")' type="text/javascript"></script>
<!-- Coffee script compilled resources-->
<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/dynamic.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/digitalid/DigitalIdService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/digitalid/IndexCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/hosts/NewComponentModalCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/hosts/DigitalIdProgressCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/hosts/DigitalIdCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/compare/CompareCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/compare/CompareResultsCtrl.js")' type="text/javascript"></script>
</html>